// Vendor
@import 'normalize';

// Base
@import 'base/fonts';
@import 'base/variables';
@import 'base/mixins';
@import 'base/typography';
@import 'base/reset';

// Layout
@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';

// Components
@import 'components/buttons';
@import 'components/burger';
@import 'components/forms';
@import 'components/features';
@import 'components/services';
@import 'components/cards';
@import 'components/breadcrumbs';
@import 'components/about-stats';
@import 'components/about-vision-mission';
@import 'components/about-story';

// Sections
@import 'sections/hero';
@import 'sections/industries';
@import 'sections/industries-tabs';
@import 'sections/why';
@import 'sections/story';
@import 'sections/cases';
@import 'sections/clients';
@import 'sections/contact';
@import 'sections/benefits';

// Pages
@import 'pages/service-page';
@import 'pages/article';
@import 'pages/case-studies';
