// Breadcrumbs Component
.breadcrumbs {
  background-color: $color-light;
  padding: $spacing-sm 0;
  font-size: 0.875rem;
  
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: $spacing-xs;
  }
  
  &__item {
    display: flex;
    align-items: center;
    
    &:not(:last-child)::after {
      content: '/';
      margin: 0 $spacing-xs;
      color: $color-gray;
    }
  }
  
  &__link {
    color: $color-primary;
    text-decoration: none;
    transition: color $transition-base;
    
    &:hover,
    &:focus {
      color: darken($color-primary, 10%);
      text-decoration: underline;
    }
    
    &:focus-visible {
      outline: 2px solid $color-primary;
      outline-offset: 2px;
    }
  }
  
  &__current {
    color: $color-gray;
  }
  
  // Hidden breadcrumbs (for GEO - remains in HTML for search engines)
  &--hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}

