.burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 33px;
  height: 33px;
  background: transparent;
  border: 1px solid rgba(52, 116, 255, 0.3);
  padding: 0;
  cursor: pointer;
  box-sizing: border-box;
  
  @include laptop {
    display: flex;
  }
  
  &__line {
    width: 21px;
    height: 3px;
    background: #3474ff none repeat scroll 0 0;
    transition: all 0.3s ease;
    transform-origin: center;
  }
  
  .header.scrolled & &__line {
    background: #3474ff none repeat scroll 0 0;
  }
  
  &[aria-expanded="true"] {
    .burger__line {
      &:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      
      &:nth-child(2) {
        opacity: 0;
      }
      
      &:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
  
  &:focus-visible {
    outline: 2px solid $color-primary;
    outline-offset: 4px;
  }
}
