// Services Section
.services {
  padding: 20px 0;
}

.services__header {
  text-align: center;
  max-width: 900px;
  margin: 0 auto 60px;
  
  @media (max-width: 767px) {
    margin-bottom: 40px;
  }
}

.services__title {
  margin: 0 0 5px;
  
  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.services__subtitle {
  margin: 0;
}

.services__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 30px;
  
  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }
}

.service-card {
  padding: 0 15px;
  margin-bottom: 5px;
  
  @media (max-width: 767px) {
    padding: 0 10px;
  }
}

// Цветные бордеры для карточек
.service-card--blue {
  border-left: 3px solid #3474ff;
}

.service-card--yellow {
  border-left: 3px solid #ffcc2a;
}

.service-card--green {
  border-left: 3px solid #11c979;
}

.service-card--cyan {
  border-left: 3px solid #00aeff;
}

.service-card--lightblue {
  border-left: 3px solid #00aeff;
}

.service-card--red {
  border-left: 3px solid #ec5050;
}

.service-card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0 0 16px 0;
  
  @media (max-width: 767px) {
    font-size: 20px;
    margin-bottom: 14px;
  }
}

.service-card__link {
  color: #293443;
  text-decoration: none;
  font-weight: 400;
}

.service-card__description {
  font-size: 16px;
  line-height: 26px;
  color: #293443;
  font-weight: 400;
}
