.benefits {
  background-color: #3474ff;
}

.benefits__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
}

.benefits__title {
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  white-space: nowrap;
  flex-shrink: 0;
  padding: 14px;
  margin-right: 10px;
  color: #fff;
}

.benefits__list {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  gap: 30px;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
}

.benefits__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 160px;
  flex: 1;
}

.benefits__icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.benefits__text {
  font-size: 12px;
  margin: 0;
  line-height: 20px;
  color: #fff;
}

@include laptop {
  .benefits__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .benefits__title {
    margin-bottom: 20px;
    text-align: center;
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding-bottom: 15px;
    font-size: 16px;
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    color: #fff;
  }

  .benefits__list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .benefits__item {
    max-width: 160px;
    margin-bottom: 20px;
  }
}

